Enterprise/Enterprise/server/interfaces/PlutusAdmin.wsdl

<?xml version="1.0"?>
<!--
	Datasource Admin WSDL

	SOAP interface implemented by Enterprise Server and called by (third party) client SOAP applications.
-->

<wsdl:definitions
	targetNamespace="urn:PlutusAdmin" 
	xmlns:tns="urn:PlutusAdmin" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/">
		
	
	<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>> TYPES  <<<<<<<<<<<<<<<<<<<<<<<<<<< -->

	<wsdl:types xmlns="http://schemas.xmlsoap.org/wsdl/">
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:PlutusAdmin">

			<xsd:complexType name="Publication">
				<xsd:all>
					<xsd:element name="ID" 			type="xsd:string"/>
					<xsd:element name="Name"		type="xsd:string"/>
					<xsd:element name="Description"	type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfPublication">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:Publication[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>
			
			
			<xsd:complexType name="Setting">
				<xsd:all>
					<xsd:element name="ID" 			type="xsd:string"/>
					<xsd:element name="Name"		type="xsd:string"/>
					<xsd:element name="Value"		type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfSetting">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:Setting[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>
			
			
			<xsd:complexType name="Query">
				<xsd:all>
					<xsd:element name="ID" 				type="xsd:string"/>
					<xsd:element name="Name"			type="xsd:string"/>
					<xsd:element name="Query"			type="xsd:string"/>
					<xsd:element name="Interface"		type="xsd:string"/>
					<xsd:element name="Comment"			type="xsd:string"/>
					<xsd:element name="RecordID"		type="xsd:string"/>
					<xsd:element name="RecordFamily"	type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfQuery">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:Query[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>
			
			
			<xsd:complexType name="QueryField">
				<xsd:all>
					<xsd:element name="Name" 			type="xsd:string"/>
					<xsd:element name="ID"				type="xsd:string"/>
					<xsd:element name="Priority"		type="xsd:string"/>
					<xsd:element name="ReadOnly"		type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfQueryField">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:QueryField[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>
			
			
			<xsd:complexType name="DatasourceType">
				<xsd:all>
					<xsd:element name="Type" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfDatasourceType">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:DatasourceType[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>
			
			
			<xsd:complexType name="SettingsDetail">
				<xsd:all>
					<xsd:element name="Name" 			type="xsd:string"/>
					<xsd:element name="Description" 	type="xsd:string"/>
					<xsd:element name="Type" 			type="xsd:string"/> <!--TODO: convert to enumeration -->
					<xsd:element name="List" 			type="xsd:string"	nillable="true"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfSettingsDetail">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:SettingsDetail[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>
			
			
			<xsd:complexType name="DatasourceInfo">
					<xsd:sequence>
						<xsd:element name="ID" 				type="xsd:string"/>
						<xsd:element name="Name"			type="xsd:string"/>
						<xsd:element name="Bidirectional"	type="xsd:string"/>
						<xsd:element name="Type"			type="xsd:string"/>
					</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfDatasourceInfo">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:DatasourceInfo[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>

			
			<xsd:element name="GetPublicationsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="DatasourceID"	type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetPublicationsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Publications"	type="tns:ArrayOfPublication"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="GetDatasourceInfoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="DatasourceID"	type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetDatasourceInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DatasourceInfo"	type="tns:DatasourceInfo"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="GetDatasourceRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="DatasourceID"	type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetDatasourceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Queries"			type="tns:ArrayOfQuery"/>
						<xsd:element name="Settings"		type="tns:ArrayOfSetting"/>
						<xsd:element name="Publications"	type="tns:ArrayOfPublication"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="GetQueryRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="QueryID"			type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetQueryResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Query"			type="tns:Query"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="GetQueriesRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="DatasourceID"	type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetQueriesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Queries"			type="tns:ArrayOfQuery"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="GetQueryFieldsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="QueryID"			type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetQueryFieldsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="QueryFields"			type="tns:ArrayOfQueryField"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="GetDatasourceTypesRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetDatasourceTypesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DatasourceTypes"			type="tns:ArrayOfDatasourceType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="GetDatasourceTypeRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="DatasourceID"	type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetDatasourceTypeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DatasourceType"			type="tns:DatasourceType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="GetSettingsDetailsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="DatasourceID"	type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetSettingsDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SettingsDetails"			type="tns:ArrayOfSettingsDetail"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="GetSettingsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="DatasourceID"	type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetSettingsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Settings"			type="tns:ArrayOfSetting"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="QueryDatasourcesRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="Type"			type="xsd:string"	nillable="true"/> <!-- To query data sources by type -->
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="QueryDatasourcesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Datasources"			type="tns:ArrayOfDatasourceInfo"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="NewQueryRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="DatasourceID"	type="xsd:string"/>
						<xsd:element name="Name"			type="xsd:string"/>
						<xsd:element name="Query"			type="xsd:string"/>
						<xsd:element name="Interface"		type="xsd:string"/>
						<xsd:element name="Comment"			type="xsd:string"/>
						<xsd:element name="RecordID"		type="xsd:string"/>
						<xsd:element name="RecordFamily"	type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="NewQueryResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="QueryID"		type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="NewDatasourceRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="Name"			type="xsd:string"/>
						<xsd:element name="Type"			type="xsd:string"/>
						<xsd:element name="Bidirectional"	type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="NewDatasourceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DatasourceID"	type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="SavePublicationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="DatasourceID"	type="xsd:string"/>
						<xsd:element name="PublicationID"	type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="SavePublicationResponse"/>
			
			
			<xsd:element name="SaveQueryFieldRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="QueryID"			type="xsd:string"/>
						<xsd:element name="Name"			type="xsd:string"/>
						<xsd:element name="Priority"		type="xsd:string"/>
						<xsd:element name="ReadOnly"		type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="SaveQueryFieldResponse"/>
			
			
			<xsd:element name="SaveQueryRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="QueryID"			type="xsd:string"/>
						<xsd:element name="Name"			type="xsd:string"/>
						<xsd:element name="Query"			type="xsd:string"/>
						<xsd:element name="Interface"		type="xsd:string"/>
						<xsd:element name="Comment"			type="xsd:string"/>
						<xsd:element name="RecordID"		type="xsd:string"/>
						<xsd:element name="RecordFamily"	type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="SaveQueryResponse"/>
			
			
			<xsd:element name="SaveDatasourceRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="DatasourceID"	type="xsd:string"/>
						<xsd:element name="Name"			type="xsd:string"/>
						<xsd:element name="Bidirectional"	type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="SaveDatasourceResponse"/>
			
			
			<xsd:element name="SaveSettingRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="DatasourceID"	type="xsd:string"/>
						<xsd:element name="Name"			type="xsd:string"/>
						<xsd:element name="Value"			type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="SaveSettingResponse"/>
			
			
			<xsd:element name="DeletePublicationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="DatasourceID"	type="xsd:string"/>
						<xsd:element name="PublicationID"	type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="DeletePublicationResponse"/>
			
			
			<xsd:element name="DeleteQueryFieldRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="FieldID"			type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="DeleteQueryFieldResponse"/>
			
			
			<xsd:element name="DeleteQueryRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="QueryID"			type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteQueryResponse"/>
			
			
			<xsd:element name="DeleteDatasourceRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="DatasourceID"	type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteDatasourceResponse"/>
			
			
			<xsd:element name="CopyDatasourceRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="DatasourceID"	type="xsd:string"/>
						<xsd:element name="NewName"			type="xsd:string"/>
						<xsd:element name="CopyQueries"		type="xsd:string"/>						
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CopyDatasourceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="NewDatasourceID"	type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="CopyQueryRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="QueryID"			type="xsd:string"/>
						<xsd:element name="TargetID"		type="xsd:string"/> <!-- ID of the DataSource to copy the query to -->
						<xsd:element name="NewName"			type="xsd:string"/>						
						<xsd:element name="CopyFields"		type="xsd:string"/>						
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CopyQueryResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="NewQueryID"		type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
		</xsd:schema>
	</wsdl:types>


	<!-- >>>>>>>>>>>>>>>>>>>>>>>>>> MESSAGES  <<<<<<<<<<<<<<<<<<<<<<<<<< -->

	<wsdl:message name="GetPublicationsRequest">
		<wsdl:part name="parameters"    element="tns:GetPublicationsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetPublicationsResponse">
		<wsdl:part name="parameters"    element="tns:GetPublicationsResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="GetDatasourceInfoRequest">
		<wsdl:part name="parameters"    element="tns:GetDatasourceInfoRequest"/>
	</wsdl:message>
	<wsdl:message name="GetDatasourceInfoResponse">
		<wsdl:part name="parameters"    element="tns:GetDatasourceInfoResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="GetDatasourceRequest">
		<wsdl:part name="parameters"    element="tns:GetDatasourceRequest"/>
	</wsdl:message>
	<wsdl:message name="GetDatasourceResponse">
		<wsdl:part name="parameters"    element="tns:GetDatasourceResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="GetQueryRequest">
		<wsdl:part name="parameters"    element="tns:GetQueryRequest"/>
	</wsdl:message>
	<wsdl:message name="GetQueryResponse">
		<wsdl:part name="parameters"    element="tns:GetQueryResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="GetQueriesRequest">
		<wsdl:part name="parameters"    element="tns:GetQueriesRequest"/>
	</wsdl:message>
	<wsdl:message name="GetQueriesResponse">
		<wsdl:part name="parameters"    element="tns:GetQueriesResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="GetQueryFieldsRequest">
		<wsdl:part name="parameters"    element="tns:GetQueryFieldsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetQueryFieldsResponse">
		<wsdl:part name="parameters"    element="tns:GetQueryFieldsResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="GetDatasourceTypesRequest">
		<wsdl:part name="parameters"    element="tns:GetDatasourceTypesRequest"/>
	</wsdl:message>
	<wsdl:message name="GetDatasourceTypesResponse">
		<wsdl:part name="parameters"    element="tns:GetDatasourceTypesResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="GetDatasourceTypeRequest">
		<wsdl:part name="parameters"    element="tns:GetDatasourceTypeRequest"/>
	</wsdl:message>
	<wsdl:message name="GetDatasourceTypeResponse">
		<wsdl:part name="parameters"    element="tns:GetDatasourceTypeResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="GetSettingsDetailsRequest">
		<wsdl:part name="parameters"    element="tns:GetSettingsDetailsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetSettingsDetailsResponse">
		<wsdl:part name="parameters"    element="tns:GetSettingsDetailsResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="GetSettingsRequest">
		<wsdl:part name="parameters"    element="tns:GetSettingsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetSettingsResponse">
		<wsdl:part name="parameters"    element="tns:GetSettingsResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="QueryDatasourcesRequest">
		<wsdl:part name="parameters"    element="tns:QueryDatasourcesRequest"/>
	</wsdl:message>
	<wsdl:message name="QueryDatasourcesResponse">
		<wsdl:part name="parameters"    element="tns:QueryDatasourcesResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="NewQueryRequest">
		<wsdl:part name="parameters"    element="tns:NewQueryRequest"/>
	</wsdl:message>
	<wsdl:message name="NewQueryResponse">
		<wsdl:part name="parameters"    element="tns:NewQueryResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="NewDatasourceRequest">
		<wsdl:part name="parameters"    element="tns:NewDatasourceRequest"/>
	</wsdl:message>
	<wsdl:message name="NewDatasourceResponse">
		<wsdl:part name="parameters"    element="tns:NewDatasourceResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="SavePublicationRequest">
		<wsdl:part name="parameters"    element="tns:SavePublicationRequest"/>
	</wsdl:message>
	<wsdl:message name="SavePublicationResponse">
		<wsdl:part name="parameters"    element="tns:SavePublicationResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="SaveQueryFieldRequest">
		<wsdl:part name="parameters"    element="tns:SaveQueryFieldRequest"/>
	</wsdl:message>
	<wsdl:message name="SaveQueryFieldResponse">
		<wsdl:part name="parameters"    element="tns:SaveQueryFieldResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="SaveQueryRequest">
		<wsdl:part name="parameters"    element="tns:SaveQueryRequest"/>
	</wsdl:message>
	<wsdl:message name="SaveQueryResponse">
		<wsdl:part name="parameters"    element="tns:SaveQueryResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="SaveDatasourceRequest">
		<wsdl:part name="parameters"    element="tns:SaveDatasourceRequest"/>
	</wsdl:message>
	<wsdl:message name="SaveDatasourceResponse">
		<wsdl:part name="parameters"    element="tns:SaveDatasourceResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="SaveSettingRequest">
		<wsdl:part name="parameters"    element="tns:SaveSettingRequest"/>
	</wsdl:message>
	<wsdl:message name="SaveSettingResponse">
		<wsdl:part name="parameters"    element="tns:SaveSettingResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="DeletePublicationRequest">
		<wsdl:part name="parameters"    element="tns:DeletePublicationRequest"/>
	</wsdl:message>
	<wsdl:message name="DeletePublicationResponse">
		<wsdl:part name="parameters"    element="tns:DeletePublicationResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="DeleteQueryFieldRequest">
		<wsdl:part name="parameters"    element="tns:DeleteQueryFieldRequest"/>
	</wsdl:message>
	<wsdl:message name="DeleteQueryFieldResponse">
		<wsdl:part name="parameters"    element="tns:DeleteQueryFieldResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="DeleteQueryRequest">
		<wsdl:part name="parameters"    element="tns:DeleteQueryRequest"/>
	</wsdl:message>
	<wsdl:message name="DeleteQueryResponse">
		<wsdl:part name="parameters"    element="tns:DeleteQueryResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="DeleteDatasourceRequest">
		<wsdl:part name="parameters"    element="tns:DeleteDatasourceRequest"/>
	</wsdl:message>
	<wsdl:message name="DeleteDatasourceResponse">
		<wsdl:part name="parameters"    element="tns:DeleteDatasourceResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="CopyDatasourceRequest">
		<wsdl:part name="parameters"    element="tns:CopyDatasourceRequest"/>
	</wsdl:message>
	<wsdl:message name="CopyDatasourceResponse">
		<wsdl:part name="parameters"    element="tns:CopyDatasourceResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="CopyQueryRequest">
		<wsdl:part name="parameters"    element="tns:CopyQueryRequest"/>
	</wsdl:message>
	<wsdl:message name="CopyQueryResponse">
		<wsdl:part name="parameters"    element="tns:CopyQueryResponse"/> 
	</wsdl:message>
	
	
	<!-- >>>>>>>>>>>>>>>>>>>>>>>>>> OPERATIONS  <<<<<<<<<<<<<<<<<<<<<<<< -->
	
	<wsdl:portType name="PlutusAdminPort">

		<wsdl:operation name="GetPublications">
			<wsdl:input message="tns:GetPublicationsRequest"/>
			<wsdl:output message="tns:GetPublicationsResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="GetDatasourceInfo">
			<wsdl:input message="tns:GetDatasourceInfoRequest"/>
			<wsdl:output message="tns:GetDatasourceInfoResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="GetDatasource">
			<wsdl:input message="tns:GetDatasourceRequest"/>
			<wsdl:output message="tns:GetDatasourceResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="GetQuery">
			<wsdl:input message="tns:GetQueryRequest"/>
			<wsdl:output message="tns:GetQueryResponse"/>
		</wsdl:operation>

		<wsdl:operation name="GetQueries">
			<wsdl:input message="tns:GetQueriesRequest"/>
			<wsdl:output message="tns:GetQueriesResponse"/>
		</wsdl:operation>

		<wsdl:operation name="GetQueryFields">
			<wsdl:input message="tns:GetQueryFieldsRequest"/>
			<wsdl:output message="tns:GetQueryFieldsResponse"/>
		</wsdl:operation>

		<wsdl:operation name="GetDatasourceTypes">
			<wsdl:input message="tns:GetDatasourceTypesRequest"/>
			<wsdl:output message="tns:GetDatasourceTypesResponse"/>
		</wsdl:operation>

		<wsdl:operation name="GetDatasourceType">
			<wsdl:input message="tns:GetDatasourceTypeRequest"/>
			<wsdl:output message="tns:GetDatasourceTypeResponse"/>
		</wsdl:operation>

		<wsdl:operation name="GetSettingsDetails">
			<wsdl:input message="tns:GetSettingsDetailsRequest"/>
			<wsdl:output message="tns:GetSettingsDetailsResponse"/>
		</wsdl:operation>

		<wsdl:operation name="GetSettings">
			<wsdl:input message="tns:GetSettingsRequest"/>
			<wsdl:output message="tns:GetSettingsResponse"/>
		</wsdl:operation>

		<wsdl:operation name="QueryDatasources">
			<wsdl:input message="tns:QueryDatasourcesRequest"/>
			<wsdl:output message="tns:QueryDatasourcesResponse"/>
		</wsdl:operation>

		<wsdl:operation name="NewQuery">
			<wsdl:input message="tns:NewQueryRequest"/>
			<wsdl:output message="tns:NewQueryResponse"/>
		</wsdl:operation>

		<wsdl:operation name="NewDatasource">
			<wsdl:input message="tns:NewDatasourceRequest"/>
			<wsdl:output message="tns:NewDatasourceResponse"/>
		</wsdl:operation>

		<wsdl:operation name="SavePublication">
			<wsdl:input message="tns:SavePublicationRequest"/>
			<wsdl:output message="tns:SavePublicationResponse"/>
		</wsdl:operation>

		<wsdl:operation name="SaveQueryField">
			<wsdl:input message="tns:SaveQueryFieldRequest"/>
			<wsdl:output message="tns:SaveQueryFieldResponse"/>
		</wsdl:operation>

		<wsdl:operation name="SaveQuery">
			<wsdl:input message="tns:SaveQueryRequest"/>
			<wsdl:output message="tns:SaveQueryResponse"/>
		</wsdl:operation>

		<wsdl:operation name="SaveDatasource">
			<wsdl:input message="tns:SaveDatasourceRequest"/>
			<wsdl:output message="tns:SaveDatasourceResponse"/>
		</wsdl:operation>

		<wsdl:operation name="SaveSetting">
			<wsdl:input message="tns:SaveSettingRequest"/>
			<wsdl:output message="tns:SaveSettingResponse"/>
		</wsdl:operation>

		<wsdl:operation name="DeletePublication">
			<wsdl:input message="tns:DeletePublicationRequest"/>
			<wsdl:output message="tns:DeletePublicationResponse"/>
		</wsdl:operation>

		<wsdl:operation name="DeleteQueryField">
			<wsdl:input message="tns:DeleteQueryFieldRequest"/>
			<wsdl:output message="tns:DeleteQueryFieldResponse"/>
		</wsdl:operation>

		<wsdl:operation name="DeleteQuery">
			<wsdl:input message="tns:DeleteQueryRequest"/>
			<wsdl:output message="tns:DeleteQueryResponse"/>
		</wsdl:operation>

		<wsdl:operation name="DeleteDatasource">
			<wsdl:input message="tns:DeleteDatasourceRequest"/>
			<wsdl:output message="tns:DeleteDatasourceResponse"/>
		</wsdl:operation>

		<wsdl:operation name="CopyDatasource">
			<wsdl:input message="tns:CopyDatasourceRequest"/>
			<wsdl:output message="tns:CopyDatasourceResponse"/>
		</wsdl:operation>

		<wsdl:operation name="CopyQuery">
			<wsdl:input message="tns:CopyQueryRequest"/>
			<wsdl:output message="tns:CopyQueryResponse"/>
		</wsdl:operation>
		
	</wsdl:portType>



	<!-- >>>>>>>>>>>>>>>>>>>>>>>>>> BINDINGS  <<<<<<<<<<<<<<<<<<<<<<<<<< -->	
	
	<wsdl:binding name="PlutusAdminBinding" type="tns:PlutusAdminPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="GetPublications">
			<soap:operation soapAction="urn:PlutusAdmin#GetPublications"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetDatasourceInfo">
			<soap:operation soapAction="urn:PlutusAdmin#GetDatasourceInfo"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="GetDatasource">
			<soap:operation soapAction="urn:PlutusAdmin#GetDatasource"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="GetQuery">
			<soap:operation soapAction="urn:PlutusAdmin#GetQuery"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetQueries">
			<soap:operation soapAction="urn:PlutusAdmin#GetQueries"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetQueryFields">
			<soap:operation soapAction="urn:PlutusAdmin#GetQueryFields"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetDatasourceTypes">
			<soap:operation soapAction="urn:PlutusAdmin#GetDatasourceTypes"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetDatasourceType">
			<soap:operation soapAction="urn:PlutusAdmin#GetDatasourceType"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetSettingsDetails">
			<soap:operation soapAction="urn:PlutusAdmin#GetSettingsDetails"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetSettings">
			<soap:operation soapAction="urn:PlutusAdmin#GetSettings"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="QueryDatasources">
			<soap:operation soapAction="urn:PlutusAdmin#QueryDatasources"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="NewQuery">
			<soap:operation soapAction="urn:PlutusAdmin#NewQuery"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="NewDatasource">
			<soap:operation soapAction="urn:PlutusAdmin#NewDatasources"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="SavePublication">
			<soap:operation soapAction="urn:PlutusAdmin#SavePublication"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="SaveQueryField">
			<soap:operation soapAction="urn:PlutusAdmin#SaveQueryField"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="SaveQuery">
			<soap:operation soapAction="urn:PlutusAdmin#SaveQuery"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="SaveDatasource">
			<soap:operation soapAction="urn:PlutusAdmin#SaveDatasource"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="SaveSetting">
			<soap:operation soapAction="urn:PlutusAdmin#SaveSetting"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="DeletePublication">
			<soap:operation soapAction="urn:PlutusAdmin#DeletePublication"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="DeleteQueryField">
			<soap:operation soapAction="urn:PlutusAdmin#DeleteQueryField"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="DeleteQuery">
			<soap:operation soapAction="urn:PlutusAdmin#DeleteQuery"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="DeleteDatasource">
			<soap:operation soapAction="urn:PlutusAdmin#DeleteDatasource"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="CopyDatasource">
			<soap:operation soapAction="urn:PlutusAdmin#CopyDatasource"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="CopyQuery">
			<soap:operation soapAction="urn:PlutusAdmin#CopyQuery"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>


	<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>> SERVICE  <<<<<<<<<<<<<<<<<<<<<<<<<< -->
		
	<wsdl:service name="PlutusAdminService">
		<wsdl:documentation>Plutus Admin Web Service</wsdl:documentation>
		<wsdl:port name="PlutusAdminPort" binding="tns:PlutusAdminBinding">
			<soap:address location="http://127.0.0.1/Enterprise/plutusadminindex.php" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
