Enterprise/Enterprise/server/interfaces/PlutusDatasource.wsdl

<?xml version="1.0"?>
<!--
	Datasource WSDL

	SOAP interface implemented by Enterprise Server and called by client SOAP applications.
-->

<wsdl:definitions
	targetNamespace="urn:PlutusDatasource" 
	xmlns:tns="urn:PlutusDatasource" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/">
		
	
	<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>> TYPES  <<<<<<<<<<<<<<<<<<<<<<<<<<< -->

	<wsdl:types xmlns="http://schemas.xmlsoap.org/wsdl/">
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:PlutusDatasource">

			<xsd:simpleType name="String">
				<xsd:restriction base="string"/>
			</xsd:simpleType>
				
			<xsd:simpleType name="OperationType">
				<xsd:restriction base="string">
					<xsd:enumeration value="&lt;"/>
					<xsd:enumeration value=">"/>
					<xsd:enumeration value="&lt;="/>
					<xsd:enumeration value=">="/>			<!-- 4.2 - Greater Than or Equal -->					
					<xsd:enumeration value="="/>
					<xsd:enumeration value="!="/>
					<xsd:enumeration value="contains"/>
					<xsd:enumeration value="starts"/>
					<xsd:enumeration value="ends"/>
					<xsd:enumeration value="within"/>		<!-- 5.0 Time interval -->
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="UpdateType">
				<xsd:restriction base="string">
					<xsd:enumeration value="none"/>
					<xsd:enumeration value="new"/>
					<xsd:enumeration value="deleted"/>
					<xsd:enumeration value="changed"/>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="ResponseType">
				<xsd:restriction base="string">
					<xsd:enumeration value="none"/>
					<xsd:enumeration value="accepted"/>
					<xsd:enumeration value="rejected"/>
					<xsd:enumeration value="ignored"/>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:complexType name="QueryParam">
				<xsd:all>
					<xsd:element name="Property"  	type="xsd:string"/>
					<xsd:element name="Operation" 	type="tns:OperationType"/>
					<xsd:element name="Value" 		type="xsd:string"/> 
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfQueryParam">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:QueryParam[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>
			

			<xsd:complexType name="Attribute">
				<xsd:all>
					<xsd:element name="Name"  			type="xsd:string"/>
					<xsd:element name="Value" 			type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfAttribute">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:Attribute[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>
			
			<xsd:complexType name="List">
				<xsd:all>
					<xsd:element name="Name"  type="xsd:string"/>
					<xsd:element name="Value" type="xsd:string"/>
					<xsd:element name="Attributes" type="tns:ArrayOfAttribute"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfList">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:List[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>

			<xsd:complexType name="RecordField">
				<xsd:sequence>
					<xsd:element name="UpdateType"	type="tns:UpdateType"/>
					<xsd:element name="UpdateResponse"	type="tns:ResponseType"/>
					<xsd:element name="ReadOnly"	type="xsd:boolean"/>
					<xsd:element name="Priority"	type="xsd:boolean"/>
					<xsd:element name="Name"  		type="xsd:string"/>
					<xsd:choice minOccurs="1" maxOccurs="1">
						<xsd:element name="StrValue"		type="xsd:string"/>
						<xsd:element name="IntValue"		type="xsd:int"/>
						<xsd:element name="ListValue"		type="tns:ArrayOfList"/>
						<xsd:element name="ImageListValue" 	type="tns:ArrayOfList"/>	<!-- List of Enterprise image object id's -->
					</xsd:choice>
					<xsd:element name="Attributes" type="tns:ArrayOfAttribute"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfRecordField">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:RecordField[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>

			<xsd:complexType name="Record">
				<xsd:all>
					<xsd:element name="ID"  			type="xsd:string"/>
					<xsd:element name="UpdateType"		type="tns:UpdateType"/>
					<xsd:element name="UpdateResponse"	type="tns:ResponseType"/>
					<xsd:element name="Hidden" 			type="xsd:boolean"/>
					<xsd:element name="Fields" 			type="tns:ArrayOfRecordField"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfRecord">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:Record[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>
			
			<xsd:complexType name="ArrayOfFamilyValue">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:String[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>			
			
			<xsd:complexType name="PlacedQuery">
				<xsd:all>
					<xsd:element name="QueryID"				type="xsd:string"/>
					<xsd:element name="FamilyValues"		type="tns:ArrayOfFamilyValue"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfPlacedQuery">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:PlacedQuery[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>
			
			<xsd:complexType name="Placement">
				<xsd:all>
					<xsd:element name="ObjectID"		type="xsd:string"/>
					<xsd:element name="PlacedQueries"	type="tns:ArrayOfPlacedQuery"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfPlacement">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:Placement[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>
			
			
			<xsd:complexType name="DatasourceInfo">
				<xsd:all>
					<xsd:element name="ID"				type="xsd:string"/>				<!-- Datasource ID -->
					<xsd:element name="Name"			type="xsd:string"/>				<!-- Datasource name -->
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfDatasourceInfo">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:DatasourceInfo[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>

			<!-- QueryDatasources returns a list of data sources linked to a publiction. -->
			<xsd:element name="QueryDatasourcesRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="PublicationID"	type="xsd:string"/> <!-- Publication id to get the linked data sources for -->
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="QueryDatasourcesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Datasources"		type="tns:ArrayOfDatasourceInfo"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			
			<xsd:simpleType name="PropertyType">
				<xsd:restriction base="string">
					<xsd:enumeration value="string"/>
					<xsd:enumeration value="multistring"/> 	<!-- Allows commas used for separated vaues such as "keywords" -->
					<xsd:enumeration value="multiline"/> 	<!-- Allows line-endings used for multi-line text box such as "comments" -->
					<xsd:enumeration value="bool"/>
					<xsd:enumeration value="int"/>
					<xsd:enumeration value="double"/>
					<xsd:enumeration value="date"/>
					<xsd:enumeration value="datetime"/>
					<xsd:enumeration value="list"/> 		<!-- Allows single value selection from option list such as "publication -->
					<xsd:enumeration value="multilist"/> 	<!-- Allows multiple value selection from option list -->
					<xsd:enumeration value="fileselector"/> <!-- v8.2: Container widget that allows users to pick a file. Contains a "file" widget and optionally other widgets. -->
					<xsd:enumeration value="file"/> <!-- v8.2: Widget that represents a selected file, such as a thumbnail. -->
					<xsd:enumeration value="articlecomponentselector"/> <!-- v8.2: Container widget that allows users to pick a text component of an article. Contains an "articlecomponent" widget and optionally other widgets. -->
					<xsd:enumeration value="articlecomponent"/> <!-- v8.2: Widget that represents a selected file, such as a thumbnail. -->
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:complexType name="Query">
				<xsd:all>
					<xsd:element name="ID"   			type="xsd:string"/>
					<xsd:element name="Name" 			type="xsd:string"/>
					<xsd:element name="Params" 			type="tns:ArrayOfProperty"/>
					<xsd:element name="RecordFamily"	type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfQuery">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:Query[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>
			
			<xsd:complexType name="ArrayOfString">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:String[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>

			<xsd:complexType name="Property">
				<xsd:all>
					<xsd:element name="Name" type="xsd:string"/> 									<!-- unlocalized name of property -->
					<xsd:element name="DisplayName" type="xsd:string"/> 							<!-- localized name of property -->
					<xsd:element name="Type" type="tns:PropertyType"/> 								<!-- implies kind of field control used in dialog -->
					<xsd:element name="DefaultValue" nillable="true" type="xsd:string"/> 			<!-- pre-filled value when empty -->
					<xsd:element name="ValueList" nillable="true" type="tns:ArrayOfString"/> 		<!-- only used for lists (Type="list") -->
					<xsd:element name="MinValue" nillable="true" type="xsd:string"/> 				<!-- only used for numbers (Type="int") -->
					<xsd:element name="MaxValue" nillable="true" type="xsd:string"/> 				<!-- only used for numbers (Type="int") -->
					<xsd:element name="MaxLength" nillable="true" type="xsd:int"/> 					<!-- only used for strings (Type="string/multiline") -->
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfProperty">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:Property[]"/>
					</restriction>
				</complexContent>
			</xsd:complexType>
			
			<!-- GetDatasource returns datasource info (fields, queries, etc). -->
			<xsd:element name="GetDatasourceRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="DatasourceID"	type="xsd:string"/> <!-- Datasource id to get the queries for -->
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="GetDatasourceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Queries"      	type="tns:ArrayOfQuery"/>
						<xsd:element name="Bidirectional"	type="xsd:string"/>		 <!-- Datasource bidirectional -->
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<!-- GetRecords returns a list of records. -->
			<xsd:element name="GetRecordsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			 type="xsd:string"/>
						<xsd:element name="ObjectID"		 type="xsd:string"/>
						<xsd:element name="QueryID"	 		 type="xsd:string"/> 			<!-- Query id to execute on the server -->
						<xsd:element name="DatasourceID"	 type="xsd:string"/>			<!-- Datasource id -->
						<xsd:element name="Params"	 		 type="tns:ArrayOfQueryParam"/> <!-- Parameters for the query -->
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetRecordsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Records"      type="tns:ArrayOfRecord"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="SetRecordsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="ObjectID"		type="xsd:string"/>
						<xsd:element name="DatasourceID"	type="xsd:string"/>
						<xsd:element name="QueryID"			type="xsd:string"/>
						<xsd:element name="Params"	 		type="tns:ArrayOfQueryParam"/> <!-- Parameters from the query -->	
						<xsd:element name="Records"   	  	type="tns:ArrayOfRecord"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SetRecordsResponse">
			</xsd:element>
			
			
			<xsd:element name="HasUpdatesRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="DatasourceID"	type="xsd:string"/>
						<xsd:element name="FamilyValue"		type="xsd:string" nillable="true"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="HasUpdatesResponse">
			</xsd:element>
			
			
			<xsd:element name="OnSaveRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="DatasourceID"	type="xsd:string"/>
						<xsd:element name="Placements"		type="tns:ArrayOfPlacement"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="OnSaveResponse">
			</xsd:element>
			
			
			<!-- GetUpdates returns a list of records. -->
			<xsd:element name="GetUpdatesRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket"			type="xsd:string"/>
						<xsd:element name="UpdateID"		type="xsd:string"/>
						<xsd:element name="ObjectID"		type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetUpdatesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Records"      type="tns:ArrayOfRecord"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>


	<!-- >>>>>>>>>>>>>>>>>>>>>>>>>> MESSAGES  <<<<<<<<<<<<<<<<<<<<<<<<<< -->
		
		
	<wsdl:message name="QueryDatasourcesRequest">
		<wsdl:part name="parameters"    element="tns:QueryDatasourcesRequest"/>
	</wsdl:message>
	<wsdl:message name="QueryDatasourcesResponse">
		<wsdl:part name="parameters"    element="tns:QueryDatasourcesResponse"/> 
	</wsdl:message>

	<wsdl:message name="GetDatasourceRequest">
		<wsdl:part name="parameters"    element="tns:GetDatasourceRequest"/>
	</wsdl:message>
	<wsdl:message name="GetDatasourceResponse">
		<wsdl:part name="parameters"    element="tns:GetDatasourceResponse"/> 
	</wsdl:message>

	<wsdl:message name="GetRecordsRequest">
		<wsdl:part name="parameters"    element="tns:GetRecordsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetRecordsResponse">
		<wsdl:part name="parameters"    element="tns:GetRecordsResponse"/> 
	</wsdl:message>
	
	<wsdl:message name="SetRecordsRequest">
		<wsdl:part name="parameters"    element="tns:SetRecordsRequest"/>
	</wsdl:message>
	<wsdl:message name="SetRecordsResponse">
		<wsdl:part name="parameters"    element="tns:SetRecordsResponse"/>
	</wsdl:message>
	
	<wsdl:message name="HasUpdatesRequest">
		<wsdl:part name="parameters"    element="tns:HasUpdatesRequest"/>
	</wsdl:message>
	<wsdl:message name="HasUpdatesResponse">
		<wsdl:part name="parameters"    element="tns:HasUpdatesResponse"/>
	</wsdl:message>
	
	<wsdl:message name="OnSaveRequest">
		<wsdl:part name="parameters"    element="tns:OnSaveRequest"/>
	</wsdl:message>
	<wsdl:message name="OnSaveResponse">
		<wsdl:part name="parameters"    element="tns:OnSaveResponse"/>
	</wsdl:message>
	
	<wsdl:message name="GetUpdatesRequest">
		<wsdl:part name="parameters"    element="tns:GetUpdatesRequest"/>
	</wsdl:message>
	<wsdl:message name="GetUpdatesResponse">
		<wsdl:part name="parameters"    element="tns:GetUpdatesResponse"/> 
	</wsdl:message>

	
	<!-- >>>>>>>>>>>>>>>>>>>>>>>>>> OPERATIONS  <<<<<<<<<<<<<<<<<<<<<<<< -->
	
	<wsdl:portType name="PlutusDatasourcePort">


		<wsdl:operation name="QueryDatasources">
			<wsdl:input message="tns:QueryDatasourcesRequest"/>
			<wsdl:output message="tns:QueryDatasourcesResponse"/>
		</wsdl:operation>

		<wsdl:operation name="GetDatasource">
			<wsdl:input message="tns:GetDatasourceRequest"/>
			<wsdl:output message="tns:GetDatasourceResponse"/>
		</wsdl:operation>

		<wsdl:operation name="GetRecords">
			<wsdl:input message="tns:GetRecordsRequest"/>
			<wsdl:output message="tns:GetRecordsResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="SetRecords">
			<wsdl:input message="tns:SetRecordsRequest"/>
			<wsdl:output message="tns:SetRecordsResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="HasUpdates">
			<wsdl:input message="tns:HasUpdatesRequest"/>
			<wsdl:output message="tns:HasUpdatesResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="OnSave">
			<wsdl:input message="tns:OnSaveRequest"/>
			<wsdl:output message="tns:OnSaveResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="GetUpdates">
			<wsdl:input message="tns:GetUpdatesRequest"/>
			<wsdl:output message="tns:GetUpdatesResponse"/>
		</wsdl:operation>
		
	</wsdl:portType>


	<!-- >>>>>>>>>>>>>>>>>>>>>>>>>> BINDINGS  <<<<<<<<<<<<<<<<<<<<<<<<<< -->	
	
	<wsdl:binding name="PlutusDatasourceBinding" type="tns:PlutusDatasourcePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="QueryDatasources">
			<soap:operation soapAction="urn:PlutusDatasource#QueryDatasources"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="GetDatasource">
			<soap:operation soapAction="urn:PlutusDatasource#GetDatasource"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="GetRecords">
			<soap:operation soapAction="urn:PlutusDatasource#GetRecords"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="SetRecords">
			<soap:operation soapAction="urn:PlutusDatasource#SetRecords"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="HasUpdates">
			<soap:operation soapAction="urn:PlutusDatasource#HasUpdates"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="OnSave">
			<soap:operation soapAction="urn:PlutusDatasource#OnSave"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="GetUpdates">
			<soap:operation soapAction="urn:PlutusDatasource#GetUpdates"/>
			<wsdl:input>  <soap:body use="literal"/> </wsdl:input>
			<wsdl:output> <soap:body use="literal"/> </wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	
	<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>> SERVICE  <<<<<<<<<<<<<<<<<<<<<<<<<< -->
		
	<wsdl:service name="PlutusDatasourceService">
		<wsdl:documentation>Plutus Data source Web Service</wsdl:documentation>
		<wsdl:port name="PlutusDatasourcePort" binding="tns:PlutusDatasourceBinding">
			<soap:address location="http://127.0.0.1/Enterprise/datasourceindex.php" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
