Enterprise/Enterprise/server/schemas/ww_dm_manifest_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="1.3">

    <xs:simpleType name="schemaVersionType">
        <xs:annotation>
            <xs:documentation>The schema is for 1.x instances of the schema.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="1.0"/>
            <xs:maxExclusive value="2.0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="objectTypeEnum">
        <xs:annotation>
            <xs:documentation>Possible object types. Derived from Enterprise object type
                list.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Article"/>
            <xs:enumeration value="ArticleTemplate"/>
            <xs:enumeration value="Layout"/>
            <xs:enumeration value="LayoutTemplate"/>
            <xs:enumeration value="Image"/>
            <xs:enumeration value="Advert"/>
            <xs:enumeration value="AdvertTemplate"/>
            <xs:enumeration value="Plan"/>
            <xs:enumeration value="Video"/>
            <xs:enumeration value="Audio"/>
            <xs:enumeration value="Library"/>
            <xs:enumeration value="Dossier"/>
            <xs:enumeration value="DossierTemplate"/>
            <xs:enumeration value="LayoutModule"/>
            <xs:enumeration value="LayoutModuleTemplate"/>
            <xs:enumeration value="Task"/>
            <xs:enumeration value="Hyperlink"/>
            <xs:enumeration value="Presentation"/>
            <xs:enumeration value="Archive"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="colorHexType">
        <xs:restriction base="xs:string">
            <xs:pattern value="#[0-9A-Fa-f]{6}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="mimeType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="fileNameType">
        <xs:annotation>
            <xs:documentation>Relative file URL within the package.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="urlType"/>
    </xs:simpleType>

    <xs:simpleType name="urlType">
        <xs:annotation>
            <xs:documentation>Absolute or relative URL.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>

    <xs:simpleType name="genericVersionType">
        <xs:annotation>
            <xs:documentation>Version string</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token"> </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="objectTypeType">
        <xs:annotation>
            <xs:documentation>Describes an object type.</xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
                <xs:documentation>Further restricts the object type to one or more specific formats
                    (mime-types)</xs:documentation>
            </xs:annotation>
            <xs:element name="format" type="mimeType"/>
        </xs:choice>
        <xs:attribute name="type" type="objectTypeEnum">
            <xs:annotation>
                <xs:documentation>Type of object type.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="objectTypeListType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="objectType" type="objectTypeType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="languageType">
        <!--        <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z]{1,8}(_[a-zA-Z0-9]{1,8})*"/>
        </xs:restriction>-->
        <xs:restriction base="xs:string">
            <xs:enumeration value="en_US"/>
            <xs:enumeration value="en_GB"/>
            <xs:enumeration value="de_DE"/>
            <xs:enumeration value="fr_FR"/>
            <xs:enumeration value="ja_JP"/>
            <xs:enumeration value="es_ES"/>
            <xs:enumeration value="pt_BR"/>
            <xs:enumeration value="sv_SE"/>
            <xs:enumeration value="da_DK"/>
            <xs:enumeration value="nl_NL"/>
            <xs:enumeration value="it_IT"/>
            <xs:enumeration value="nb_NO"/>
            <xs:enumeration value="fi_FI"/>
            <xs:enumeration value="el_GR"/>
            <xs:enumeration value="cs_CZ"/>
            <xs:enumeration value="pl_PL"/>
            <xs:enumeration value="hr_HR"/>
            <xs:enumeration value="hu_HU"/>
            <xs:enumeration value="ru_RU"/>
            <xs:enumeration value="sk_SK"/>
            <xs:enumeration value="sq_AL"/>
            <xs:enumeration value="tr_TR"/>
            <xs:enumeration value="ro_RO"/>
            <xs:enumeration value="bg_BG"/>
            <xs:enumeration value="be_BY"/>
            <xs:enumeration value="et_EE"/>
            <xs:enumeration value="lv_LV"/>
            <xs:enumeration value="lt_LT"/>
            <xs:enumeration value="sl_SI"/>
            <xs:enumeration value="uk_UA"/>
            <xs:enumeration value="he_IL"/>
            <xs:enumeration value="ar_AE"/>
            <xs:enumeration value="zh_CN"/>
            <xs:enumeration value="zh_TW"/>
            <xs:enumeration value="ko_KR"/>
            <xs:enumeration value="ta_IN"/>
            <xs:enumeration value="th_TH"/>
            <xs:enumeration value="vi_VN"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="descriptionType">
        <xs:annotation>
            <xs:documentation>Description item providing detailed information on how to use the
                widget, group or field. The src attribute can point to an (external) location
                providing more information on the described object (think pictures, animations,
                instruction video, etc).</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attributeGroup ref="src"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="localizedDescriptionType">
        <xs:annotation>
            <xs:documentation/>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="descriptionType">
                <xs:attributeGroup ref="lang"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="labelType">
        <xs:annotation>
            <xs:documentation>The label of the field that should be used for display purposes.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string"> </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="localizedLabelType">
        <xs:annotation>
            <xs:documentation>Localized label</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="labelType">
                <xs:attributeGroup ref="lang"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="propertyGroupType">
        <xs:annotation>
            <xs:documentation>Lists the fields that the widget requires to operate
                properly.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="label" minOccurs="0"/>
            <xs:element ref="localization" minOccurs="0"/>
            <xs:element name="properties">
                <xs:annotation>
                    <xs:documentation>List of all fields inside the group.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                        <xs:group ref="unifiedPropertyElements"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="localizedUIType">
        <xs:annotation>
            <xs:documentation>Contains a list of localized fields.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="description" type="localizedDescriptionType" minOccurs="0"
                maxOccurs="unbounded"/>
            <xs:element name="label" type="localizedLabelType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="boundsType">
        <xs:annotation>
            <xs:documentation>Description of bounds in pixels</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="x"/>
            <xs:element ref="y"/>
            <xs:element ref="width"/>
            <xs:element ref="height"/>
        </xs:sequence>
    </xs:complexType>

    <xs:attributeGroup name="src">
        <xs:attribute name="src" use="optional" type="xs:anyURI">
            <xs:annotation>
                <xs:documentation>Link to, in most cases, an external location.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:attributeGroup name="lang">
        <xs:attribute name="lang" use="optional" type="languageType">
            <xs:annotation>
                <xs:documentation>Indicates the language of the current field</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:attributeGroup name="id">
        <xs:attribute name="id" use="required" type="xs:string">
            <xs:annotation>
                <xs:documentation>Id uniquely identifying the object.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:attributeGroup name="basicAttributes">
        <xs:attributeGroup ref="id"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="fileAttributes">
        <xs:attribute name="requiresProcessing" type="xs:boolean" default="true">
            <xs:annotation>
                <xs:documentation>Indication whether files need to be uploaded for processing.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="scaleProportionally" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>Indication whether given file(s) need to be scaled proportionally to fit entirely in the widget's frame before put in the widget instance. This attribute only applies to file of type image or to zips containing image files.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:element name="description" type="descriptionType">
        <xs:annotation>
            <xs:documentation>Description of the field, used for help.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="label" type="labelType">
        <xs:annotation>
            <xs:documentation>The label of the field that should be used for display purposes.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="localization" type="localizedUIType">
        <xs:annotation>
            <xs:documentation>Localized UI fields.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="mandatory" type="xs:boolean" default="false">
        <xs:annotation>
            <xs:documentation>Defines whether the field must get a value.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="disabled" type="xs:boolean" default="false">
        <xs:annotation>
            <xs:documentation>Display the field in a disabled fashion. The value cannot be
                changed.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="x" type="xs:nonNegativeInteger">
        <xs:annotation>
            <xs:documentation>X coordinate.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="y" type="xs:nonNegativeInteger">
        <xs:annotation>
            <xs:documentation>Y coordinate.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="width" type="xs:nonNegativeInteger">
        <xs:annotation>
            <xs:documentation>Width in pixels.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="height" type="xs:nonNegativeInteger">
        <xs:annotation>
            <xs:documentation>Height in pixels.</xs:documentation>
        </xs:annotation>
    </xs:element>


    <xs:group name="unifiedPropertyElements">
        <xs:choice>
            <xs:element name="booleanProperty" type="booleanPropertyType"/>
            <xs:element name="numberProperty" type="numberPropertyType"/>
            <xs:element name="stringProperty" type="stringPropertyType"/>
            <xs:element name="stringListProperty" type="stringListPropertyType"/>
            <xs:element name="fileProperty" type="filePropertyType"/>
            <xs:element name="fileListProperty" type="fileListPropertyType"/>
            <xs:element name="colorProperty" type="colorPropertyType"/>
            <xs:element name="posterImageFileProperty" type="posterImageFilePropertyType"/>
        </xs:choice>
    </xs:group>

    <xs:element name="manifest">
        <xs:annotation>
            <xs:documentation>Root element of the manifest file.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="widget"/>
            </xs:choice>
            <xs:attribute name="usedSchemaVersion" use="required" type="schemaVersionType">
                <xs:annotation>
                    <xs:documentation>Version of the instance. Match with the version of the schema
                        you base the instance on.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="widget">
        <xs:annotation>
            <xs:documentation>Lists the fields that the widget requires to operate
                properly.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="description" type="descriptionType">
                    <xs:annotation>
                        <xs:documentation>Description of the widget.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="localization" minOccurs="0"/>
                <xs:element name="containerBounds" type="boundsType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>The intended size of the webview in which this widget is run. 
                            Can be used to recalculate positions and sizes dynamically when the viewer 
                            scales the webview.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="rootfile" type="fileNameType">
                    <xs:annotation>
                        <xs:documentation>Root file of the widget.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="properties">
                    <xs:annotation>
                        <xs:documentation>List of all fields.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:group ref="unifiedPropertyElements"/>
                            <xs:element name="propertyGroup" type="propertyGroupType"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="widgetVersion" type="genericVersionType">
                <xs:annotation>
                    <xs:documentation>Defines the version of this specific set of properties. Allows
                        widgets to be backwards compatible.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="booleanPropertyType">
        <xs:all>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="label" minOccurs="0"/>
            <xs:element ref="localization" minOccurs="0"/>
            <xs:element ref="mandatory" minOccurs="0"/>
            <xs:element ref="disabled" minOccurs="0"/>
            <xs:element name="value" type="xs:boolean" nillable="true">
                <xs:annotation>
                    <xs:documentation>Contains the value of the field and on input the default
                        value.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
        <xs:attributeGroup ref="basicAttributes"/>
    </xs:complexType>

    <xs:complexType name="colorPropertyType">
        <xs:all>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="label" minOccurs="0"/>
            <xs:element ref="localization" minOccurs="0"/>
            <xs:element ref="mandatory" minOccurs="0"/>
            <xs:element ref="disabled" minOccurs="0"/>
            <xs:element name="value" type="colorHexType" nillable="true">
                <xs:annotation>
                    <xs:documentation>Contains the value of the field and on input the default
                        value.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
        <xs:attributeGroup ref="basicAttributes"/>
    </xs:complexType>

    <xs:complexType name="numberPropertyType">
        <xs:annotation>
            <xs:documentation>Describes a number field, which can be an integer or real
                number.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="label" minOccurs="0"/>
            <xs:element ref="localization" minOccurs="0"/>
            <xs:element ref="mandatory" minOccurs="0"/>
            <xs:element ref="disabled" minOccurs="0"/>
            <xs:element name="min" type="xs:double" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The minimum value. When missing, the field has no minimum
                        value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="max" type="xs:double" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The maximum value. When missing, the field has no maximum
                        value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="decimalPlaces" type="xs:nonNegativeInteger" minOccurs="0" default="0">
                <xs:annotation>
                    <xs:documentation>Defines the number decimals for the field. A value of 0 makes
                        the field an integer, all other values a real number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="value" type="xs:double" nillable="true">
                <xs:annotation>
                    <xs:documentation>Contains the value of the field which is on input either empty
                        or the default value.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
        <xs:attributeGroup ref="basicAttributes"/>
    </xs:complexType>

    <xs:complexType name="stringPropertyType">
        <xs:annotation>
            <xs:documentation>Describes a string field.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="label" minOccurs="0"/>
            <xs:element ref="localization" minOccurs="0"/>
            <xs:element ref="mandatory" minOccurs="0"/>
            <xs:element ref="disabled" minOccurs="0"/>
            <xs:element name="minLength" type="xs:nonNegativeInteger" minOccurs="0" default="0">
                <xs:annotation>
                    <xs:documentation>The minimum length of the field. When missing, the field has
                        no minimum length.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="maxLength" type="xs:positiveInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The maximum length of the field. When missing, the field has
                        no maximum length.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="multiline" type="xs:boolean" minOccurs="0" default="false">
                <xs:annotation>
                    <xs:documentation>Specifies whether the field can contain multiple lines of
                        text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="value" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Contains the value of the field which is on input either empty
                        or the default value.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
        <xs:attributeGroup ref="basicAttributes"/>
    </xs:complexType>

    <xs:complexType name="stringListItemType">
        <xs:annotation>
            <xs:documentation>List item for the string list. The label is the content of the
                element. The id attribute makes the item unique.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attributeGroup ref="id"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="stringListType">
        <xs:annotation>
            <xs:documentation>List of string list items.</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="listItem" type="stringListItemType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="stringListPropertyType">
        <xs:annotation>
            <xs:documentation>Describes a string list field. Entries in the list can be predefined
                or entered by the reader.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="label" minOccurs="0"/>
            <xs:element ref="localization" minOccurs="0"/>
            <xs:element ref="mandatory" minOccurs="0"/>
            <xs:element ref="disabled" minOccurs="0"/>
            <xs:element name="min" type="xs:nonNegativeInteger" minOccurs="0" default="0">
                <xs:annotation>
                    <xs:documentation>The minimum number items that must be selected when the
                        possibleValues element is available and filled. Otherwise the minimum number
                        of items that must be entered. When omitted there is no
                        minimum.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="max" type="xs:positiveInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The maximum number items that can be selected when the
                        possibleValues element is available and filled. Otherwise the maximum number
                        of items that can be entered. When omitted there is no
                        maximum.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="possibleValues" type="stringListType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Defines the list of items that the values must be picked
                        from.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="minLength" type="xs:nonNegativeInteger" minOccurs="0" default="0">
                <xs:annotation>
                    <xs:documentation>The minimum length of new entries. When element is omitted,
                        new entries have no minimum length. This element only applies when
                        possibleValues is omitted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="maxLength" type="xs:positiveInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The maximum length of new entries. When element is omitted,
                        new entries have no maximum length. This element only applies when
                        possibleValues is omitted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="multiline" type="xs:boolean" minOccurs="0" default="false">
                <xs:annotation>
                    <xs:documentation>Specifies whether the list items can contain multiple lines of
                        text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="values" type="stringListType" nillable="true">
                <xs:annotation>
                    <xs:documentation>Contains the selected subset of items when possibleValues is
                        given, or the list of entered strings. On input either empty, or the default
                        (selected) values.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
        <xs:attributeGroup ref="basicAttributes"/>
    </xs:complexType>

    <xs:complexType name="filePropertyType">
        <xs:annotation>
            <xs:documentation>Describes a file url field.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="label" minOccurs="0"/>
            <xs:element ref="localization" minOccurs="0"/>
            <xs:element ref="mandatory" minOccurs="0"/>
            <xs:element ref="disabled" minOccurs="0"/>
            <xs:element name="objectTypes" type="objectTypeListType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>List of possible object types and formats</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="value" type="urlType" nillable="true">
                <xs:annotation>
                    <xs:documentation>Contains the value of the field which is on input either empty
                        or the default value.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
        <xs:attributeGroup ref="basicAttributes"/>
        <xs:attributeGroup ref="fileAttributes"/>
    </xs:complexType>

    <xs:complexType name="posterImageFilePropertyType">
        <xs:annotation>
            <xs:documentation>Describes a special file url field which holds a poster image. The software used to instantiate the widget is responsible for creating the poster image.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="bounds" type="boundsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The bounds of the property within the webview that displays the widget.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="value" type="urlType" nillable="true">
                <xs:annotation>
                    <xs:documentation>Contains the value of the field which is on input empty.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
        <xs:attributeGroup ref="basicAttributes"/>
        <xs:attributeGroup ref="fileAttributes"/>
    </xs:complexType>

    <xs:complexType name="fileListItemType">
        <xs:annotation>
            <xs:documentation>List item for the file list. The label is the url of the element. The
                id attribute makes the item unique.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="urlType">
                <xs:attributeGroup ref="id"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="fileListType">
        <xs:annotation>
            <xs:documentation>List of file list items.</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="listItem" type="fileListItemType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="fileListPropertyType">
        <xs:annotation>
            <xs:documentation>Describes a string list field. Entries in the list can be predefined
                or entered by the reader.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="label" minOccurs="0"/>
            <xs:element ref="localization" minOccurs="0"/>
            <xs:element ref="mandatory" minOccurs="0"/>
            <xs:element ref="disabled" minOccurs="0"/>
            <xs:element name="min" type="xs:nonNegativeInteger" minOccurs="0" default="0">
                <xs:annotation>
                    <xs:documentation>The minimum number of items that must be entered. When omitted
                        there is no minimum.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="max" type="xs:positiveInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The maximum number of items that can be entered. When omitted
                        there is no maximum.</xs:documentation>
                </xs:annotation>

            </xs:element>
            <xs:element name="objectTypes" type="objectTypeListType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>List of possible object types and formats</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="values" type="fileListType" nillable="true">
                <xs:annotation>
                    <xs:documentation>The list of entered file urls. On input either empty, or the
                        default values.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
        <xs:attributeGroup ref="basicAttributes"/>
        <xs:attributeGroup ref="fileAttributes"/>
    </xs:complexType>
</xs:schema>
